@media screen and (max-width:450px) {
body {
        background-color: #000000;
        flood-opacity: .5;
        opacity: 5;
        display: flex;
        text-decoration: none;
        background-size: cover;
        border-style: none;
        background-size: 100% 1.2em;
        align-items: justify;
        align-content: justify;
        flex-direction: column;
        display: flex;
        resize: vertical;
        cursor: pointer;
        position: relative;
        page-break-after: avoid;
        break-after: avoid;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width:0 auto;
        height:0 auto;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        padding: auto;
        margin: auto;
        padding: 0;
        margin: 0;       
        break-inside: avoid;
        align-items: center;
        height: auto;
   
    }
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: auto;
    margin: 0;
    padding: 0;
  }
@media only all and (orientation: portrait) { }

html {
    scroll-behavior: smooth;
  /*  box-sizing: border-box;
    margin: 0; padding: 0;
    break-inside: avoid;
   */
  }
body{
    /**height: 100vh;**/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    margin: 0;
    padding: 0;
    background-size: 100% 1.2em;
    margin-top: 30px;
    background-size: cover;
    border-style: none;
    background-size: 100% 1.2em;
    align-items: justify;
    align-content: justify;
    flex-direction: column;
    display:flex;
    resize: vertical;
    cursor: pointer;
    position: relative;
    page-break-after: avoid;
    break-after: avoid;
    zoom: 100%;
    align-items: center;
    height: auto;
   
   
}
.container {
    margin: auto;
    max-width: fit-content;
    margin: auto;
    padding: auto;
    page-break-after: avoid;
    break-after: avoid;
    max-width: 100%;
    break-inside: avoid;

}

a {
    color: teal;
    text-decoration: none;
}

.first  .formerbackground2 img {
    clear: left;
    float: left;
    margin: 60px;
    border-radius: 10px;
    margin-top: 0%;
    z-index: 0;
    position: absolute;
    width: 245px;
    height: 245px;
    margin-left: 20%;
    top: 396px;
    position:auto;
    max-width: 100%;
    display: block;
    break-inside: avoid;
    padding: 0;
    
  
}
@media screen and (max-width:450px) {
    .first  .formerbackground2 img {
        clear: left;
        float: left;
        margin: 60px;
        border-radius: 10px;
        position: absolute;
        width: 245px;
        height: 245px;
        margin-left: 20%;
        top: 396px;
        position:auto;
        width: 100%;
        break-inside: avoid;
    
    }
}

.first .information{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 80px;
   position:absolute;
   top: 3%;
   text-align: center;
   break-inside: avoid;
   /* or 138% */
   /**text-fill-color: transparent;**/
   /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    margin-left: 40%;
    width: 50%;
}

@media screen and (max-width:450px) {
    .first  .information {
        float:left;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        position:absolute;
        top: 320px;
        margin-left: 40%;
        width: 50%;
        /* or 138% */
        /**text-fill-color: transparent;**/
        /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
         
    }
}
.information h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
/* or 138% */
   text-align: center;
   background: radial-gradient(90.56% 90.56% at 50% 9.44%, #AA52FF 0%, rgba(204, 205, 216, 0) 100%), #FFFFFF;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   z-index: inherit;
   break-inside: avoid;
  /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}
@media screen and (max-width:450px) {
    .information h3   {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
/* or 138% */
   text-align: center;
   background: radial-gradient(90.56% 90.56% at 50% 9.44%, #AA52FF 0%, rgba(204, 205, 216, 0) 100%), #FFFFFF;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   z-index: inherit;
  /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
         
    }
}
.information h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
/* or 136% */
    text-align: center;
    letter-spacing: 0.196px;
    font-family: 'Inter';
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    z-index: 0;
 
}

@media screen and (max-width:450%) {
    .information h4   {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
    /* or 136% */
        text-align: center;
        letter-spacing: 0.196px;
        font-family: 'Inter';
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        z-index: 0;
    }
}
.information p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
/* or 146% */
    text-align: center;
    letter-spacing: 0.196px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    z-index: 0;

}

.formerbackground{
    height: 747px;
    left: calc(50% - 1920px/2);
    top: 145px;
    background: url(pexels-ivan-samkov-8117436.jpg);
   /** border: 1px solid #AA52FF;**/
   /**filter: blur(10px);**/
   max-width: 100%;
}
.formerbackground img{
    width: 100%;
    height: 747px;
    max-width: 100%;
    filter: brightness(none);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.formerbackground img:hover {
    filter: brightness(100%);
    }
@media screen and (max-width:450px) {
    .formerbackground img   {
        width: 100%;
        text-align: center;
        align-content: center;
        margin: 0;
        padding: 0;
        break-inside: avoid;
        display: block;
        width: 1920px;
        height: 747px;
        max-width: 100%;
    
    }
}

@media screen and (max-width:346px) {
    .second img {
        clear: right;
        float: right;
        border: 1px;
        margin: 60px;
        border-radius: 10px;
        margin-top: 15px;
        width: 346px;
        height: 615px;
        transition:1s ease ;
    }
}
.second{
    margin: auto;
    padding: auto;
}
.second img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }

.second img {
    clear: right;
    float: right;
    border: 1px;
    margin: 60px;
    border-radius: 10px;
    margin-top: 15px;
    width: 346px;
    height: 615px;
    transition: 1s ease;
}
.second img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }
.second h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 60px;
    /* or 138% */
    text-align: center;
    background: radial-gradient(90.56% 90.56% at 50% 9.44%, #CCCDD8 0%, rgba(204, 205, 216, 0) 100%), #4A4A4E;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: auto;
    padding: auto;
}

.second h4 {
    font-family: 'Inter';
    font-style: normal;
    /* or 146% */
    text-align: center;
    letter-spacing: 0.196px;
    color: #A1A1A6;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.196px;
    margin: auto;
    padding: auto;
}

p {
    font-size: 20px;
    color: white;
}

h3,
h2,
h4 {
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: none;
    font-style: normal;
    margin-bottom: 10px;
    break-inside: avoid;
}

h3 {
    background: linear-gradient(180deg, #F5F5F7 0%, rgba(245, 245, 247, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
@media screen and (max-width:450px) {
    nav {
        width: 100%;
        text-align: center;
        align-content: center;
        margin: 0;
        padding: 0;
        break-inside: avoid;
        display: block;
    
    }
}

nav{
    width: 100%;
    text-align: center;
    align-content: center;
    margin: 0;
    padding: 0;
    break-inside: avoid;
    display: block;
    color:white;

}

nav img {
    height: 40px;
    position: absolute;
    width: 40px;
    left: 0%;
    top: 0%;
    margin-left: 300px;
    margin-top: 8px;

}

nav button {
    top: 0%;
    left: 0%;
    margin-left: 1500px;
    margin-top: 15px;
    position: absolute;
    width: 85px;
    height: 20px;
    display: flex;
    position: absolute;
    background: #AA52FF;
    border-radius: 72px;
    text-align: center;
    padding-top:5px;
    padding-left: 25px;
    font-family:'Inter';
    font-weight: bolder;
}

.Company_icon button:hover {
    background-color: blue;
}

nav h1 {
    font-size: 15px;
    color: white;
    position: absolute;
    margin-left: 1380px;
    left: 0%;
    top: 0%;
    margin-top: 20px;
    text-decoration: none;
}

nav h1:hover {
    color: blue;
    text-decoration: none;
}

nav h2 {
    font-size: 15px;
    color: white;
    position: absolute;
    margin-left: 1200px;
    left: 0%;
    top: 0%;
    margin-top: 20px;
    font-family:'Inter';
    font-weight: bolder;
    text-decoration: none;
}

nav h2:hover {
    color: blue;
    text-decoration: none;
}
nav rb{
    font-size: 15px;
    color: white;
    position: absolute;
    margin-left: 1400px;
    left: 0%;
    top: 0%;
    margin-top: 20px; 
    font-family:'Inter';
    font-weight: bolder;
    text-decoration: none;
   
}
nav rb:hover {
    color: blue;
    text-decoration: none;
}
nav sup{
    font-size: 15px;
    color: white;
    position: absolute;
    left: 0%;
    margin-left: 1300px;
    top: 0%;
    margin-top: 20px; 
    font-family: 'Inter';
    font-weight:bolder;
    text-decoration: none;
  
}
nav sup:hover {
    color: blue;
    text-decoration: none;
}
nav sub {
    font-size: 15px;
    color: white;
    position: absolute;
    margin-left: 350px;
    left: 0%;
    top: 0%;
    margin-top: 20px;
    font-family: 'Inter';
    font-weight:bolder;
    text-decoration: none;
}

nav sub:hover {
    color: blue;
    text-decoration: none;
}


@media screen and (max-width: 1280px) {
    .Widgets {
     /*   width: 1280px;*/
        width: 1390px;;
        height: 719px;
        border: 1px;
        border-radius: 19px;
        background: linear-gradient(245.02deg, #78429E -7.64%, #59468C 38.72%, #334780 89.37%);
        border-radius: 30px;
        margin: auto;
        padding: auto;
      
    }
}

.Widgets {
  /*  width: 1280px;*/
    width: 1390px;;
    height: 719px;
    border: 1px;
    border-radius: 19px;
    background: linear-gradient(245.02deg, #78429E -7.64%, #59468C 38.72%, #334780 89.37%);
    border-radius: 30px;
    page-break-after: avoid;
    break-after: avoid;
    margin: auto;
    padding: auto;
   

}

.Widgets h1 {
    float: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    margin-left: 30px;
    margin-top: 30px;
    /* identical to box height, or 129% */
    letter-spacing: 0.231px;
    color: #FFFFFF;
}

.Widgets cite {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 78px;
    line-height: 76px;
    margin-left: 30px;
    /* or 98% */
    color: #C48CFC;
    float: left;
}

.Widgets code {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    /* or 98% */
    color: #FFFFFF;
    margin-left: 30px;
}

.Widgets summary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
    /* or 153% */
    letter-spacing: 0.228px;
    color: #FFFFFF;
    margin-left: 30px;
}

.Widgets img {
    width: 345px;
    height: 615px;
    left: 1224px;
    top: 1696px;
    margin-top: 0px;
    float: right;
    transition:1s ease ;
}
.Widgets img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }

.Widgets button {
    color: white;
    border: 1px solid white;
    height: 45px;
    width: 300px;
    background: linear-gradient(245.02deg, #78429E -7.64%, #59468C 38.72%, #334780 89.37%);
    border-radius: 30px;
    margin-left: 30px;
    font-family: 500px;
    font-size: large;
    font-family:'Inter';
    font-weight: bolder;
}

.Widgets button:hover {
    background: #936ff7;
}

div .Widgets button {
    margin-left: 20px;
    border-radius: 20px;
    height: 80px;
    width: 200px;
    border-color: aliceblue;
    border: 1px;
    background-color: #78429E;
    font-family:'Inter';
    font-weight: bolder;
   

}

@media screen and (min-width: 1280px) {
    .Widgets01 {
        width: 1280px;
      /*  width: 1390px;*/
        height: 719px;
        border: 1px;
        border-radius: 19px;
        background: linear-gradient(245.02deg, #334780 -7.64%, #8E7DBC 38.72%, #AA52FF 89.37%);
        border-radius: 30px;
        line-height: 35px;
        margin-right: 20px;
        margin: auto;
        padding: auto;
    }
}

.Widgets01 {
    /*width: 1280px;*/
    width: 1390px;;
    height: 719px;
    border: 1px;
    border-radius: 19px;
    background: linear-gradient(245.02deg, #334780 -7.64%, #8E7DBC 38.72%, #AA52FF 89.37%);
    border-radius: 30px;
    line-height: 35px;
    margin-right: 20px;
    margin: auto;
    padding: auto;
}

.Widgets01 h6 {
    padding-right: 10px;
    color: white;
    font-size: 20px;
    margin-top: auto;
    float: right;
    margin-right: 30px;
}

.Widgets01 main {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 72px;
    /* or 92% */
    text-align: right;
    color: #E4E5DF;
    margin-right: 50px;
}

.Widgets01 map {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    /* or 98% */
    text-align: right;
    color: #FFFFFF;
    margin-left: 158px;
    right: 0%;
}

.Widgets01 menu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
    /* or 153% */
    text-align: right;
    margin-right: 50px;
    letter-spacing: 0.228px;
    color: #FFFFFF;
}

.Widgets01 button:hover {
    background: #c2b8df;
}

.Widgets01 img {
    margin-top: 0%;
    z-index: 3;
    width: 346px;
    height: 615px;
    left: 305px;
    top: 2484px;
    float: left;
    transition: 1S ease;
}
.Widgets01 img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }

.Widgets01 button {
    border-radius: 30px;
    height: 50px;
    width: 300px;
    font-weight: 100;
    color: white;
    border-color: aliceblue;
    border: 1px solid white;
    background-color: #58429E;
    float: right;
    right: 0%;;
    margin-right: 0px;
    margin-top: 6%;
    font-weight: 500px;
    font-size: large;
    font-family:'Inter';
    font-weight: bolder;

}
.float-parent-element{
    width: auto;
    break-inside: avoid;
}

@media screen and (max-width: 1280px) {
    .Emotional_Health {
        width: 1280px;
      /*  width: 1390px;*/
        height: 580px;
        border: 1px;
        background: #0A151F;
        border-radius: 30px;
        margin: auto;
        padding: auto;
        page-break-after: avoid;
        break-after: avoid;
   
    }
}

.Emotional_Health {
    width: 1390px;;
    /*width: 1280px;*/
    height: 719px;
    border: 1px;
    background: #0A151F;
    border-radius: 30px;
    margin: auto;
    padding: auto;
    padding-right: 20px;
    page-break-after: avoid;
    break-after: avoid;

}

.Emotional_Health p {
    float: left;
    margin-left: 25px;
    margin-top: 2%;
}

.Emotional_Health img {
    width: 346px;
    height: 615px;
    left: 379px;
    padding-right: 20px;
    transition: 1s ease;
}
.Emotional_Health img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }

.Emotional_Health ul li {
    color: #A1A1A6;
    padding: auto;
    margin: auto;
    margin-right: 0px;
   
}

.Emotional_Health button {
    color: white;
    border-radius: 30px;
    border: 1px solid white;
    height: 45px;
    width: 500px;
    background: #0A151F;
    font-family: 500px;
    font-size: large;
    font-family:'Inter';
    font-weight: bolder;
}

.Emotional_Health li {
    font-size: 32px;
    color: #A1A1A6;
}

.Emotional_Health h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* or 122% */
    letter-spacing: -1px;
    color: #FFFFFF;
}

.Emotional_Health button:hover {
    background-color: #AA52FF;
}

.Emotional_Health img {
    margin-top: 10px;
}

@media screen and (max-width: 450px) {
    #wrapper {
        display: flex;
        margin: auto;
        padding: auto;
        width: auto;
        page-break-after: avoid;
        break-after: avoid;
       
    }
}
#wrapper {
    display: flex;
    margin: auto;
    padding: auto;
    width: auto;
    page-break-after: avoid;
    break-after: avoid;
}

@media screen and (max-width: 450px) {
.float-child-element {
        float: flex;
        width: 100%;
        page-break-after: avoid;
        break-after: avoid;
        
        
    }
}
.float-child-element {
    float: left;
    width: auto;
    position: relative;
    page-break-after: avoid;
    break-after: avoid;
}
@media screen and (max-width: 450px) {
    .red {
        height: 719px;
        border-radius: 30px;
        width: 700px;
        background: linear-gradient(180deg, #232F26 0%, #161617 100%);
        border-radius: 30px;
        color: white;
        overflow: hidden;
        padding-left: 330px;
        width: 100%;
        page-break-after: avoid;
        break-after: avoid;
        
        
    }
}
.red {
    height: 719px;
    border-radius: 30px;
    width: 700px;
    background: linear-gradient(180deg, #232F26 0%, #161617 100%);
    border-radius: 30px;
    color: white;
    overflow: hidden;
    padding-left: 330px;
    position: relative;
    text-align:center;
    page-break-after: avoid;
    break-after: avoid;
    position: static;
    text-decoration: solid;
    transform: none;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    margin-left: 0%;
    
   
   
}
.red object {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    /* or 127% */
    text-align: center;
    color: #73CE71;
   
}
.red h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
    /* or 153% */
    text-align: center;
    letter-spacing: 0.228px;
    font-family: 'Inter';
    letter-spacing: 0.228px;
    color: #FFFFFF;
    margin-left: 1%;
}
.red p {
    float: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.231px;
    color: #FFFFFF;
    float: left;
    margin-left: 0px;
    margin-top: 3%;
}
@media screen and (max-width:450px) {
.yellow {
            margin-left: 10px;
            height: 719px;
            border-radius: 30px;
            width: 350px;
            background: linear-gradient(191.32deg, #1C2EA5 4.33%, #3548CB 46.83%, #306486 91.66%);
            padding-right: 30px;
            margin-left: 65%;
            padding: auto;
            
    }
}
.yellow {
            margin-left: 1%;
            height: 719px;
            border-radius: 30px;
            width: 350px;
            background: linear-gradient(191.32deg, #1C2EA5 4.33%, #3548CB 46.83%, #306486 91.66%);
            border-radius: 30px;
            padding-right: 30px;
            justify-content: center;
            overflow-y: visible;
            text-decoration: solid;
            padding: auto;
            font-size: larger;
            font-weight: bolder;
            page-break-after: avoid;
            break-after: avoid;
            position: static;  
            margin-left: 2%;
            padding: auto;
            
           
    }
.yellow h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 90px;
            line-height: 95px;
            /* or 106% */
            color: #FFFFFF;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 90px;
            line-height: 95px;
            /* or 106% */
            color: #FFFFFF;
            float: center;
            margin-left: 80px;
            letter-spacing: 1px;
            font-size: 40px;
            font-weight: bolder;
    }
.yellow h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            /* or 123% */
            color: rgba(255, 255, 255, 0.6);
            float: center;
            padding-top: 100px;
            margin-left: 55px;
            line-height: 65px;
            font-weight: bolder;
            
            /* or 123% */
    }
.yellow h5,
        h3,
        h2 {
            color: white;
            margin-top: 0px;
            font-size: 20px;
            font-size: large;
            position: static;
        }
.yellow h5 {
            float: center;
            margin-left: 80px;
            color: rgba(255, 255, 255, 0.6);
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            font-size: large;
            /* identical to box height, or 162% */
        }
.yellow button {
            background: linear-gradient(191.32deg, #1C2EA5 4.33%, #3548CB 46.83%, #306486 91.66%);
            border-radius: 30px;
            color: white;
            border: 1px solid white;
            height: 50px;
            width: 150px;
            margin-left: 80px;
            font-size: large;
            font-family:'Inter';
            font-weight: bolder;
        }
.yellow button:hover {
            background: #2291db;
        }
#mikeimgs {
            margin-top: 10px;
            background: linear-gradient(180deg, #232F26 0%, #161617 100%);
            border-radius: 30px;
            margin: auto;
            padding: auto;
            display: flex;
            overflow: hidden;
            height: 700px;
            float: center;
            margin-left: 0px;
            page-break-after: avoid;
            break-after: avoid;
            display: block;
            padding-left: 35%;
            break-inside: avoid;
    
        }
 .red .img1 img {
            width: 346px;
            height: 700px;
            left:0%;
            float: left;
            margin-top: 0px;
            transition: 1s ease;
            margin-left: 0%;
        
             
        }
        .red .img1 img:hover{
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            transition: 1s ease;
            }
.red .img2 img {
            width: 346px;
            height: 700px;
            left: 724px;
            margin-top: 40px;
            float: right;
            padding-left: 1%;
            transition: 1s ease;
           
        }
        .red .img2 img:hover{
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            transition: 1s ease;
            }
 
@media screen and (min-width: 450px) {
            .container {
                position: relative;
                color: white;
                position: fixed;
            }
        }
.container {
            position: relative;
            color: white;
            z-index: 1;
            max-width: fit-content;
            margin: auto;
            padding: auto;
            page-break-after: avoid;
            break-after: avoid;
            width: 100%;
            height: 100%;
            display: block;
    
        }
.container h2 {
            margin-top: 30px;
            float: left;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 68px;
            color: #FFFFFF;
            /* identical to box height, or 129% */
            letter-spacing: 0.231px;
            color: #FFFFFF;
            display: block;
        }
.container p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 19px;
            line-height: 29px;
            /* or 153% */
            letter-spacing: 0.228px;
            color: #FFFFFF;
            float: left;
            margin-left: 0px;
            display: block;
        }


.bottom-left {
            position: absolute;
            color: white;
            left: 16px;
            bottom: 8px;
            margin-bottom: 300px;
            margin-left: 117px;
            font-size: 20px;
            z-index: 3;
            display: block;
        }
.bottom-left h2:hover {
            color: blue;
            background-color: none;
        }
.top-left img {
            position: absolute;
            top: 8px;
            left: 16px;
            width: 180px;
            height: 51px;
            margin-top: 557px;
            margin-left: 150px;
            z-index: 3;
            display: block;
            transition: 1s ease;
        }
        .top-left img:hover{
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            transition: 1s ease;
            }
.top-right img {
            position: absolute;
            top: 8px;
            right: 16px;
            margin-top: 560px;
            margin-right: 350px;
            width: 180px;
            height: 51px;
            z-index: 3;
            display: block;
            transition: 1s ease;
        }
        .top-right img:hover{
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            transition: 1s ease;
            }
.bottom-right img {
            position: absolute;
            bottom: 8px;
            right: 16px;
            left: 45%;
            margin-bottom: 98px;
            margin-left: 0px;
            width: 180px;
            height: 51px;
            z-index: 3;
            display: block;
            transition: 1s ease;
        }
        .bottom-right img:hover{
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            transition: 1s ease;
            }
.centered img {
            position: absolute;
            top: 50%;
            left: 35%;
            margin-right: 690px;
            transform: translate(-50%, -50%);
            width: 180px;
            height: 51px;
            margin-top: 230px;
            margin-left:0px;
            padding-left: 0%;
            display: block;
           /* transition: 1s ease;*/
}
/*.centered img:hover{
    /*-webkit-transform: scale(1.2);*/
    /*-ms-transform: scale(1.2);*/
    /*transform: scale(0.1);*/
   /* transition: 1s ease;*/
  /*  }*/
.Our_partners{

    width: 1390px;
    height: 719px;
    left: 265px;
    top: 5288px;
    padding: auto;
    margin: auto;
    align-items: center;

    background: linear-gradient(245.02deg, #334780 -7.64%, #8E7DBC 38.72%, #AA52FF 89.37%);
    border-radius: 30px;
}

.Our_partners{
    display: block;
    padding: 5px;
    padding-right: 7px;
}
.Our_partners00{

    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-left: 8%;
    padding: 20px;

}
.Our_partners00 .Toyota img{
    margin-top: 30px;
    width: 252px;
    height: 220px;
    transition: 1s ease;
}
.Our_partners00 .Toyota img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }
.Our_partners00 .Burger img{
    margin-top: 30px;
    width: 195px;
    height: 189px;
    transition: 1s ease;
}
.Our_partners00 .Burger img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    /*   */
    }
.Our_partners00 .SLB img{
    margin-top: 30px;
    width: 191px;
    height: 186px;
    margin-left: 12%;
    transition: 1s ease;
}
.Our_partners00 .SLB img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }
.Our_partners00 .Meo img{
    margin-top: 30px;
    width: 471px;
    height: 156px;
    margin-left: 14%;
    transition: 1s ease;
}
.Our_partners00 .Meo img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }
.Our_partners01{
    margin-top: 70px;
    display: flex;
    margin-left: auto;
    float: left;
    margin-left: 8%;  
}
.Our_partners01 .church_hill img{
    width: 483px;
    height: 189px;
    border-radius: 36px;
    transition: 1s ease;
 
}
.Our_partners01 .church_hill img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }
.Our_partners01 .Logo2 img{
    width: 279px;
    height: 259px;
    transition: 1s ease;
    
}
.Our_partners01 .Logo2 img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }
.Our_partners01 .Delta img{
    width: 175px;
    height: 175px;
    transition:1s  ease;

}
.Our_partners01 .Delta img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }
.Our_partners01 .Pingo img{
    width: 181px;
    height: 181px;
    padding-left: 7px;
    margin-left: 30%;
    transition:1s  ease;
}
.Our_partners01 .Pingo img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }
.Our_partners ins{
    float:right;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 30px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px; 
    letter-spacing: 0.231px;
    color: #FFFFFF;
}
.search-box{
    position: absolute;
    top: 22px;
    left: 50%;
    transform:translate(-50%,-50%) ;
    background:black;
    border-radius: 40px;
    height: 40px;
    padding: 10px;
   /* border: 1px solid gray;*/
   margin: 0; padding: 0;
   break-inside: avoid;
  
  
    
}
.search-box:hover > .search-txt{
    width: 140px;
    padding:  0 6px;
    text-decoration: navy;
}
search-box:hover > .search-btn{
   background: white;
   text-decoration: navy;
}
.search-btn{
    color:white;
    float:none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:black;
    display: flex;
    justify-content: center;
    align-items:center ;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color:white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width:240px;
    font-size: 15px;

}
.footer {
    padding: 40px 0;
    width: 100%;
    height: 393px;
    background: #181818;;
    color:white;
}

.footer .social{
    margin-left: 16%;
    padding: 25px;
    color: white;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    width: 80px;
    display: inline-block;
    text-align: center;
    margin: 0 0px;
    opacity: 0.75;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
/* identical to box height, or 100% */
    letter-spacing: 0.231px;
    color: #FFFFFF;


}

.footer ul{
    margin: 0;
    padding-top:0 30px ;
    font-size: 24px;
    list-style: none;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
/* identical to box height, or 100% */ 
    letter-spacing: 0.231px;
    color: #FFFFFF;

}
.footer ul li a{
    text-decoration: none;
    color:white;
    opacity: 0.8;

}
.footer ul li{
    display: inline-block;
    padding: 0 120px;

}
.footer ul li a:hover{
    opacity: 1;
    color: blue;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
/* identical to box height, or 150% */
    letter-spacing: 0.231px;
    color: #FFFFFF;
}
.footer .copyright:hover{
    opacity: 1;
    color: blue;
}
.footer ul li button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
/* identical to box height */
    letter-spacing: -0.1em;
    color: #FFFFFF;
/* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #AA52FF;
    border-radius: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 10px;
    width: 150px;
    height: 30px;

}